.button
{
    cursor: pointer;
    position: relative;
}

.button__input
{
    cursor: pointer;
    position: absolute;
    width: 100%;
    opacity: 0;
    z-index: 1;
}

.button__text
{
    cursor: pointer;
    border: 1px solid gray;
    position: relative;
    padding: 5px;
    margin: 15px;
    border-radius: 5px;
}

.button_hovered_yes .button__text
{
    border: 1px solid rgb(224, 224, 224);
}

.button_active_yes .button__text
{
    background-color: rgb(253, 253, 253);
}

.button_name_order
{
    line-height: 40px;
    font-size: 19px;
}

.button_disabled_yes
{
    color: gray !important;
    border: 1px solid gray !important;
}
